# Logs
logs
*.log
pages.json
manifest.json
auto-components.d.ts
auto-imports.d.ts
page.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?